.projects {
  width: 100%;
  min-height: 35rem;
  padding: 10rem 0;
  background-color: #f8f9fa;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  flex-direction: row;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
}

.projects-container img {
  width: 59%;
}

.project-text {
  width: 300px;
  height: 184px;
  padding-left: 2em;
  border-left: 0.5rem solid #64a19d;
  text-align: left;
}

.project-text p {
  margin: 0;
  padding-top: 1em;
}

.project-text h4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 1200px) {
  .projects-container {
    max-width: 900px;
  }
}

@media (max-width: 1000px) {
  .projects-container {
    flex-direction: column;
    max-width: 660px;
    
  }
  .projects-container img {
    width: 100%;
  }
  .project-text {
    width: 100%;
    height: auto;
    padding: 2em;
    border: none;
    text-align: center;
    height: 180px;
    & p {
      font-size: 0.9em;
      line-height: 2em;
    }
  }

  
}
@media (max-width: 850px) {
  .projects-container {
    max-width: 70%;
  }
}
@media (max-width: 992px) {
  .projects-container {
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .projects-container {
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  .project-text {
    max-width: 300px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 420px){
  .projects-container {
    max-width: 100%;
  }
  .project-text p {
    font-size: 0.6em;
}
}