.projects {
  width: 100%;
  min-height: 35rem;
  padding: 15rem 0;
  background-color: #f8f9fa;
}
.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 730px;
  margin: 0 auto;
}

.projects-first-pair {
  display: flex;
  align-items: center;
  padding: 0 4em;
  width: 1100px;
  margin-bottom: 3em;
}

.projects-first-element {
  max-width: 66%;
  margin: 0;
}

.projects-second-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding-left: 3em;
  border-left: 0.5rem solid #64a19d;
}
.projects-second-element p {
  margin-bottom: 0px;
  font-size: 78%;
  width: 99%;
  line-height: 1.5rem;
}

.projects-second-element h4 {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0px;
}

.projects-first-element img {
  height: auto;
  width: 720px;
}

.projects-second-pair,
.projects-third-pair {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: black;
}
.projects-third-pair {
  flex-direction: row-reverse;
}
.misty {
  color: white;
  padding: 5rem;
  text-align: justify;
}

.misty p {
  font-size: 78%;
  width: 80%;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}
.mountains p {
  margin-right: 0px;
  width: 80%;
  font-size: 78%;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.mountains {
  color: white;
  padding: 5rem;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.projects-second-pair img,
.projects-third-pair img {
  width: 549px;
}

.misty h4,
.mountains h4 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0px;
}

.misty hr {
  margin-left: 0;
  width: 30%;
  border-color: #64a19d;
  border: 0;
  border-top: 0.25rem solid #64a19d;
}
.mountains hr {
  margin-right: 0;
  width: 30%;
  border-color: #64a19d;
  border: 0;
  border-top: 0.25rem solid #64a19d;
}
//responsive part

@media (max-width: 1200px) {
  .projects-first-pair {
    width: 850px;
  }
  .projects-first-element img {
    width: 542px;
  }

  .about-center {
    width: 609px;
    height: auto;
  }
}

@media (max-width: 900px) {
  .about-img {
    width: 690px;
    height: auto;
  }
}

@media (max-width: 730px) {
  .about-img {
    width: 510px;
    height: auto;
  }
  .about-center {
    width: 510px;
    height: auto;
  }
}

@media (max-width: 570px) {
  .about-img {
    max-width: 100%;
    height: auto;
  }
  .about-center {
    max-width: 100%;
    height: auto;
  }
}
