.about {
  background: linear-gradient(to bottom, #161616 0, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
}
.about-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 730px;
}
.about-center h2 {
  color: white;
  font-weight: 400;
  font-size: 2em;
  margin-top: 0px;
}

.about-center p {
  line-height: 1.7rem;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 5rem;
}

.about-container {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  flex-direction: column;
}

.about-img {
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .about-img {
    width: 100%;
    height: auto;
  }

  .about-center {
    width: 609px;
    height: auto;
  }
}

@media (max-width: 900px) {
  .about-img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 730px) {
  .about-img {
    width: 100%;
    height: auto;
  }
  .about-center {
    width: 510px;
    height: auto;
  }
}

@media (max-width: 570px) {
  .about-img {
    width: 100%;
    height: auto;
  }
  .about-center {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 414px) {

  .about-img {
    width: 100%;
    height: auto;
  }
  .about-center {
    max-width: 100%;
    height: auto;
  }
  .about-center h2 {
    font-size: 1.6em;
  }
  .about-center p {
    font-size: 0.6em;
    line-height: 1rem;
  }
}
