.contact {
  background-color: #161616;
  padding: 4em 0;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  width: 1100px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .contact-wrapper {
    width: 850px;
    height: auto;
  }

}

@media (max-width: 900px) {
  .contact-wrapper {
    width: 690px;
    height: auto;
  }
}

@media (max-width: 730px) {
  .contact-wrapper {
    justify-content: center;
    display: flex;
    width: 510px;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .about-center {
    width: 510px;
    height: auto;
  }
}

@media (max-width: 570px) {
  .about-img {
    max-width: 100%;
    height: auto;
  }
  .about-center {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 361px) {
.contact {
  width: 58%;
}
.contact-wrapper {
  width: 95%;
}
}